[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ashwin Ramesh (ashwinr64)
[access "refs/for/refs/*"]
	read = group user/Ashwin Ramesh (ashwinr64)
	push = group user/Ashwin Ramesh (ashwinr64)
	label-Code-Review = -2..+2 group user/Ashwin Ramesh (ashwinr64)
	label-Verified = -1..+1 group user/Ashwin Ramesh (ashwinr64)
	rebase = group user/Ashwin Ramesh (ashwinr64)
	removeReviewer = group user/Ashwin Ramesh (ashwinr64)
	submit = group user/Ashwin Ramesh (ashwinr64)
[access "refs/heads/*"]
	read = group user/Ashwin Ramesh (ashwinr64)
	create = group user/Ashwin Ramesh (ashwinr64)
	push = +force group user/Ashwin Ramesh (ashwinr64)
	pushMerge = group user/Ashwin Ramesh (ashwinr64)
[access "refs/tags/*"]
	push = group user/Ashwin Ramesh (ashwinr64)
	push = +force group user/Ashwin Ramesh (ashwinr64)
